nav ul{
    margin: 3em;
}

nav ul li{
    list-style-type: none;
    font-size: 2em;
    padding: 1em 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.btn-close{
    color: white;
    font-size: 2em;
}