body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Dashboard {
  width: 100vw;
  height: 100vh;
  margin-top: 6em;
}

.toggle {
  margin-left: 0.5rem;
  color: white;
}

.profile-pics {
  background-image: url("https://i.stack.imgur.com/frlIf.png");
  background-size: contain;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.msg-stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.title {
  grid-area: title;
  height: 8vh;
  text-align: center;
  margin: 0;
}

.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 25%;
}

 .stats {
  font-size: 3rem;
  color: #059ec0;
  font-style: italic;
}
.test{
  grid-area: test;
  height: 51vh;
  width: 95vw;
  margin-left: 1rem;
}

.test1{
  border: 2px solid green;
}

.homebtn-wrapper{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100vw;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5em;
}


