body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.Dashboard {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-areas:
  "nav nav nav nav nav"
  "weekly weekly weekly weekly weekly"
  "test test test test test"
  "stats stats stats stats stats"
  "footer footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav {
  grid-area: nav;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.toggle {
  margin-left: 0.5rem;
}

.profile-pics {
  background-image: url("https://i.stack.imgur.com/frlIf.png");
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 0.8rem;
}
.msg-stats {
  grid-area: stats;
  height: 26.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}
.weekly {
  grid-area: weekly;
  height: 7.5vh;
  text-align: center;
  margin: 0;
}



.test{
  grid-area: test;
  height: 50vh;
  width: 98vw;
}
.homebtn-wrapper{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}

footer {
  grid-area: footer;
  background-color: red;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


