.slackdash-logo-sm{
    max-width: 50%;
    padding: 1em;
}
.login-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
    margin-top: 7em;
}

.login-header {
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.submit-btn {
	margin: 1em 5em;
}

form label {
	margin: 1.5em 0 0 0;
}

form input {
	background-color: lightgrey;
	padding: 0.7em;
	border-radius: 10em;
}

@media screen and (min-width: 600px) {
    .slackdash-logo-sm{
        max-width: 20%;
    }
    .login-page{
        height: 65vh;
        justify-content: center;
        align-items: center;
    }
	.login-form {
		width: 40%;
	}
	.submit-btn {
		margin: 2em 0;
		width: 20%;
		align-self: center;
	}
}
