.signup-page {
	margin: 0 2em;
	height: 100vh;
}
.signup-header {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}
.signup-form {
	display: flex;
	flex-direction: column;
}

input[type="radio"] {
	accent-color: red;
}

fieldset legend {
	font-size: 1em;
	margin: 1em 0 0 0;
}

.password-rules {
	font-size: 0.8em;
	color: black;
}

.radioBtnWrapper {
	margin: 1em 0;
}

.radioBtn label {
	margin-left: 0.5em;
}

.radio-style-helper {
	display: flex;
}

.radioBtn {
	margin-right: 2em;
}

.signup-btn {
	width: 50%;
	align-self: center;
	margin-top: 1em;
}

@media screen and (min-width: 600px) {
	.signup-page {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
	}
	.signup-header {
		align-self: center;
		width: 50%;
	}
	.signup-btn {
		width: 25%;
	}
}


