.signup-page {
	height: 100vh;
	width: 100%;
}
.sign-page-bg {
	background-image: url("https://res.cloudinary.com/meryan/image/upload/v1677450999/SlackDashLandingPageBg_zzhzxc.png");
	/* background-repeat: repeat; */
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 140vh;
}
.signup-header {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}
.signup-form {
	display: flex;
	flex-direction: column;
	height: 102vh;
	padding-bottom: 1em;
}

input[type="radio"] {
	accent-color: red;
}

fieldset legend {
	font-size: 1em;
	margin: 1em 0 0 0;
}

.password-rules {
	font-size: 0.8em;
	color: black;
}

.radioBtnWrapper {
	margin: 1em 0;
}

.radioBtn label {
	margin-left: 0.5em;
}

.radio-style-helper {
	display: flex;
}

.radioBtn {
	margin-right: 2em;
}

.signup-btn {
	width: 50%;
	align-self: center;
	margin-top: 1em;
}

@media screen and (min-width: 600px) {
	.signup-page {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
	}
	.signup-header {
		align-self: center;
		width: 50%;
	}
	.signup-btn {
		width: 25%;
	}
}
