@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.student-search{
    font-family: FontAwesome;
    border-radius: 10em;
    padding: .5em;
}

table {
    border-collapse: separate;
    border-spacing:0 11px;
    margin-top:-11px;
}

th {
    padding: .8em;
}

tr{
    margin: 1em;
    text-align: center;
}

td {
    border:2px solid black;
    border-style:solid none;
    padding:11px;
    background-color:lightgoldenrodyellow;
 }
  td:first-child {
    border-left-style:solid;
    border-top-left-radius:11em;
    border-bottom-left-radius:11em;
 }
 
 td:last-child {
    border-right-style:solid;
    border-bottom-right-radius:11em;
    border-top-right-radius:11em;
 }