.landing-main{
    width: 100vw;
    height: 100vh;
    background-image: url('../LandingPage/SlackDashLandingPageBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slackdash-logo{
    max-width: 100%;
    margin-bottom: 4em;
}

.landing-main h6{
    padding: 1em;
    text-align: center;
}

.landing-main section {
    margin-top: 2em;
}

.landing-main section button{
    margin: 1em;
}

@media only screen and (min-width: 600px) {
    .slackdash-logo{
        max-width: 50vw;
        margin-bottom: 4em;
    }
  }